@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.head a{
    color: #9D7E79;
    font-weight: bold;
    text-decoration:none;
    padding: 10px;
    border: 1px solid #9D7E79;
    font-size: 18px;
}
.head a:hover{
    color: white;
    background-color: #9D7E79;
    transition: 0.5s;
}
.head h1{
    color: #288fb4;
    font-family: 'Spartan';
    font-weight: 900;
}
.head p{
    font-size: 17px;
}
.head img{
    height: 450px;
    width: 470px;
}
#txtForm{
    color: #9D7E79;
    font-size: 30px;
    font-family: 'Spartan';
    font-weight: 900;
}

span{
    color: #288fb4;
    font-family: 'Spartan';
    font-weight: 900;
}
.form{
    margin-left: -20%;
    
}
form input, textarea {
  border: none;
  border-bottom: solid #9D7E79 1px;
  margin-left: 28%;
  padding: 10px;
  outline:none;
    
}
form{
    margin-left: -1%;
}
#name{
    width: 295px;
}
#cel{
    width: 295px;
}
#email{
    width: 295px;
}
#asunto{
    width: 295px;
}
#msg{
    width: 660px;
    height: 130px;

}
#btn{
    background-color: #288fb4;
    color: white;
   cursor: pointer;
}